:root {
    --black: #09090b;
    --size-20: 1.25rem;
    --size-8: 0.5rem;
    --size-80: 5rem;
    --bg-gradient: linear-gradient(180deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 100%)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "sans-serif" !important;
    background-color: #fff;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.revealers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    /* opacity: 0; */
}

.revealer {
    flex: 1;
    width: 100%;
    background: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transform-origin: center center;
    will-change: transform;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
    visibility: visible;
    will-change: transform;
    opacity: 0;
}

.img:first-child {
    opacity: 1;
}

.images.stacked-container {
    position: absolute;
    left: 2em;
    bottom: 2em;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
    transform: none;
    will-change: transform;
}

.img.stacked {
    position: relative;
    width: 150px;
    height: 150px;
    transform: none;
    top: auto;
    left: auto;
    opacity: 1;
    will-change: transform;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.site-logo {
    position: absolute;
    top: 2em;
    left: 2em;
    display: flex;
    gap: 1em;
}

.site-logo h1 {
    color: #000;
    font-family: "sans-serif" !important;
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.01em;
}

.site-logo h1 sup {
    position: absolute;
    top: -0.125em;
    font-size: 2rem;
}

.nav {
    position: absolute;
    right: 0;
    width: 50%;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.nav .nav-item p {
    position: relative;
    font-size: 16px;
    font-weight: 500;
}

.cover-img {
    position: absolute;
    right: 2em;
    bottom: 2em;
    width: 40%;
    height: 50%;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.cover-img img {
    filter: saturate(0);
}

.site-info {
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-info .row {
    display: flex;
    gap: 2em;
}

.site-info .row .col {
    flex: 1;
}

.site-info h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.25;
}

.site-info p {
    text-transform: uppercase;
    font-family: "Apercu Mono Pro";
    font-size: 11px;
    font-weight: 500;
    color: #000;
}

.site-info .row:nth-child(2) .col:nth-child(2) {
    display: flex;
}

.address,
.socials {
    flex: 1
}

.address p,
.socials p {
    line-height: 1.25;
}

.word,
.nav-item,
.line {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.word h1,
.nav-item p,
.site-info h2 .line span,
.line p {
    position: relative;
    will-change: transform;
}

.site-info h2,
.line span {
    display: flex;
    transform: translateY(100%);
}

.word h1,
.nav-item p,
.line p {
    transform: translateY(100%);
}



/* Horizontal Scroll starts*/
.space {
    height: 0vh;
    background: var(--black);
}

.section-shared {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: clamp(var(--size-20), var(--size-8) + 2.2vw, var(--size-80));
    overflow: hidden;
    background: var(--black);
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, 0.5rem + 1.6vw, 1.5rem);
    align-items: center;
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

/* h1,
h2 {
    color: white;
} */

/* Horizontal Scroll Ends*/


/* GreenSock horizontal scroll start */
.first {
    .bg {
        background-image: var(--bg-gradient),
            url(https://images.unsplash.com/photo-1617478755490-e21232a5eeaf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU1NjM5NA&ixlib=rb-1.2.1&q=75&w=1920);
    }
}

.second {
    .bg {
        background-image: var(--bg-gradient),
            url("https://images.unsplash.com/photo-1617128734662-66da6c1d3505?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzc3NTM3MA&ixlib=rb-1.2.1&q=75&w=1920");
    }
}

.third {
    .bg {
        background-image: var(--bg-gradient),
            url(https://images.unsplash.com/photo-1617438817509-70e91ad264a5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDk4Mg&ixlib=rb-1.2.1&q=75&w=1920);
    }
}

.fourth {
    .bg {
        background-image: var(--bg-gradient),
            url(https://images.unsplash.com/photo-1617412327653-c29093585207?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDgzMQ&ixlib=rb-1.2.1&q=75&w=1920);
    }
}

.fifth {
    .bg {
        background-image: var(--bg-gradient),
            url("https://images.unsplash.com/photo-1617141636403-f511e2d5dc17?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODAzMjc4Mw&ixlib=rb-1.2.1&q=75w=1920");
        background-position: 50% 45%;
    }
}

.scroll-section {
    width: 100%;
    height: 100%;
}

.scroll-section .outer {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.scroll-section .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.scroll-section .outer .inner .bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* top: 0; */
    background-size: cover;
    background-position: center;
}



/* GreenSock horizontal scroll end */